Looking for the auth_test.html page?

If you're trying to access the authentication test page, it's available at:

<a href="http://localhost:8080/simple_auth_test.html">Simple Auth0 Test</a> (Direct implementation) 