#include? "../Config.xcconfig"

// Preview Configuration
PREVIEW_DATA_PATH = $(DEVELOPMENT_ASSET_PATHS)/Data
ASSET_CATALOG_PATH = $(DEVELOPMENT_ASSET_PATHS)/Assets

// Build Settings
PRODUCT_NAME = FOMO_FINAL
PRODUCT_BUNDLE_IDENTIFIER = com.example.FOMO-FINAL
DEVELOPMENT_TEAM = YOUR_TEAM_ID
CODE_SIGN_STYLE = Automatic
IPHONEOS_DEPLOYMENT_TARGET = 14.0

// Debug Settings
DEBUG_ACTIVITY_MODE = disable
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_VERSION = 5.0
SWIFT_TREAT_WARNINGS_AS_ERRORS = NO 